* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	font-family: 'Roboto', sans-serif;
	background-color: #f9f9f9;
	scroll-behavior: smooth; 
}

/* Navbar Section Goes Here */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/*background-color: #f0eded;*/
	z-index: 999;
	transition: all .3s ease;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 12px;

	width: 1174px;
	margin: auto;
}

nav ul li {
	padding: 12px;
}

nav ul li a {
	color: black;
	text-decoration: none;
	transition: all .3s ease;
}

nav ul li.logo {
	margin-right: auto;
}

nav ul li.contact {
	margin-left: auto;
	border: 2px solid #a4d8e7;
	border-radius: 25px;
	padding: 12px 25px;
	transition: all .3s ease;
}

nav ul li.contact a {
	color: #a4d8e7
}

nav ul li.contact:hover {
	background-color: #a4d8e7;
	cursor: pointer;
}

nav ul li.contact:hover a {
	color: white;
}

@media screen and (max-width: 1174px) {
	nav {
		display: none;
	}
}
/* Navbar Section Ends Here */


/* Section Hero Goes Here */
#hero {
	height: 100vh;
	background-color: #f0eded;
}

#hero .container {
	width: 1174px;
	margin: auto;
	border-radius: 15px;
	height: 100%;
	position: relative;
}

#hero .container .parent {
	height: 100%;
	padding: 25px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

#hero .container .parent .child {
	width: calc(100% / 2);
}

#hero .container .parent .child.bg-image {
	background-image: url(../img/courier-with-parcel-looking-camera.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

#hero .container .parent .child h1,
#about .container .parent .child h1 {
	margin-bottom: 15px;
	font-size: 36px;
	font-weight: 900;
	text-transform: uppercase;
}

#hero .container .parent .child p,
#about .container .parent .child p {
	margin-bottom: 35px;
	border-left: 5px solid #a4d8e7;
	padding: 12px;
}

#hero .container .parent .child p.overtitle {
	margin-bottom: 5px;
	border: 0;
	padding: 0;
}

#hero .container .parent .child a,
#about .container .parent .child a {
	text-decoration: none;
	color: #a4d8e7;
	border: 2px solid #a4d8e7;
	padding: 15px 20px;
	border-radius: 10px;
	margin-right: 15px; 
	transition: all .3s ease;
}

#hero .container .parent .child a:hover,
#about .container .parent .child a:hover {
	background-color: #a4d8e7;
	color: white;
}

#hero .container .next {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50px;
	width: 20px;
	border-radius: 25px;
	border: 2px solid black;
}

#hero .container .next:before {
	content: '';
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	border-radius: 50%;
	height: 8px;
	background-color: black;

	animation: down 3s infinite;
}

@keyframes down {
	0% {
		top: 10px;
	}

	50% {
		top: 80%;
	}

	100% {
		top: 10px;
	}
}

@media screen and (max-width: 1174px) {
	#hero {
		height: 100%;
	}

	#hero .container, #hero .container .parent .child {
		width: 100%;
	}

	#hero .container .parent .child h1 {
		font-size: 24px;
	}

	#hero .container .parent .child img {
		width: 100%;
	}

	#hero .container .parent .child.bg-image {
		height: 550px;
	}
}
/* Section Hero Ends Here */

/* Section About Goes Here */
#about {
	margin: 55px 0;
}

#about .container {
	width: 1174px;
	margin: auto;
}

#about .container .title,
#services .container .title,
#products .container .title,
#staff .container .title {
	margin: 25px 0; 
	text-transform: uppercase;
	font-size: 80px;
	-webkit-text-stroke: 1px black;
  	-webkit-text-fill-color: transparent; 
}

#about .container .parent {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

#about .container .parent .child {
	width: calc(100% / 2);
	padding: 12px;
}

@media screen and (max-width: 1174px) {
	#about .container .title,
	#services .container .title,
	#products .container .title,
	#staff .container .title {
		font-size: 42px!important
	}

	#about .container, #about .container .parent .child,
	#services .container, #services .container .parent .child {
		width: 100%!important;
	}
}
/* Section About Ends Here */

/* Section Services Goes Here */
#services {

}

#services .container {
	width: 1174px;
	margin: auto;
}

#services .container .parent {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

#services .container .parent .child {
	width: calc(100% / 3.5);
	padding: 20px;
	margin: 12px;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
}

#services .container h2,
#products .container h2 {
	margin-bottom: 10px;
}

#services .container p.p_title {
	margin-bottom: 50px;
}

#services .container .parent .child h3 {
	margin-bottom: 15px;
}

#services .container .parent .child i {
	margin-bottom: 15px;
	background-color: #d9d9d9;
	padding: 18px;
	font-size: 24px;
	border-radius: 50%;
}

/* Section Service Ends Here */

/* Product Service Goes Here */
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 16px;
  transition: 0.3s;
  margin: 5px;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #f0eeee;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#products .container {
	width: 1174px;
	margin: auto;
}

#products .container p.p_title {
	margin-bottom: 25px;
}

#products .container .parent {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;	
}

#products .container .parent .child {
	background-color: #f0eeee;
	margin: 15px;
	width: calc(100% / 4.5);
	text-align: center;
	padding: 15px;
	border-radius: 15px;
}

#products .container .parent .child .img_wrapper {
	height: 180px;
	width: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#products .container h3 {
	margin: 15px;
}

@media screen and (max-width: 1174px) {
	#products .container {
		width: 100%;
	}

	#products .container .parent .child {
		width: calc(100% / 2.4);
	}
}

/* Section Products Ends Here */

/* Staff Section Goes Here */
#staff .container {
  width: 1174px;
  margin: auto;
}

#staff .container .p_title {
	margin-bottom: 25px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper .swiper-slide {
  position: relative;
  width: 300px;
  /*height: 400px;*/
  /*box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);*/
  filter: grayscale(80%);
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  border-radius: 15px;
  background: #f0eeee;/*linear-gradient(to right, #c31432, #240b36);*/
  overflow: hidden;
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  padding: 12px;
  object-fit: contain;
}
.swiper .swiper-slide .info {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  color: white;
  padding: 15px;
  box-shadow: inset 0 -120px 120px -120px #a4d8e7, inset 0 -120px 120px -120px #a4d8e7;
}
.swiper .swiper-slide .info h4 {
  margin: 0;
  padding-bottom: 10px;
}
.swiper .swiper-slide-active {
  filter: none;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #c31432 !important;
}
.swiper .swiper-pagination-bullet {
  background-color: #a4d8e7;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  top: 50%;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  color: #a4d8e7;
  font-weight: 700;
  outline: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 18px;
}
.swiper .swiper-button-prev:after {
  position: relative;
  left: -1px;
}
.swiper .swiper-button-next:after {
  position: relative;
  left: 1px;
}
.swiper .swiper-button-prev,
.swiper .swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper .swiper-button-next,
.swiper .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper .swiper-button-prev.swiper-button-disabled,
.swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
	perspective: unset!important;
}

@media screen and (max-width: 1174px) {
	#staff .container {
		width: 100%;
	}
}
/* Staff Section Ends Here */

/* Globals */
.d-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

section .container {
	padding: 15px;
}

/* Footer Section Goes Here */
footer {
	background: #f0eded;
	margin-top: 80px;
}

footer .container {
	width: 1174px;
	margin: auto;
	padding: 50px 0;
}

footer .container .parent {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .container .parent .child {
	color: white;
	width: calc(100% / 3.5);
}

footer .container .parent .child h1 {
	color: #959595;
	font-size: 24px;
	margin-bottom: 12px;
}

footer .container .parent .child p {
	font-size: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
}

footer .container .parent .child i {
	color: black;
}

footer .container .parent {
	margin-bottom: 50px;
}

footer .container .parent .child h2 {
	font-size: 60px;
	color: black;
}

footer .container .parent .child form input,
footer .container .parent .child form button  {
	background: transparent;
	border: 2px solid black;
	outline: 0;
	color: black;
	padding: 15px 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	transition: all .3s ease;
}

footer .container .parent .child form button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

footer .container .parent .child form button {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

@media screen and (max-width: 1174px) {
	footer .container, footer .container .parent .child {
		width: 100%!important;
	}

	footer .container .parent {
		flex-wrap: wrap;
	}

	footer .container {
		padding: 25px;
	}
}
/* Footer Section Ends Here */